Flask==2.2.5
Flask-Caching==2.0.2
Flask-HTTPAuth==4.6.0
Flask-RESTful==0.3.9
Flask-SQLAlchemy==3.0.5
click==8.1.2
protobuf==4.28.2
influxdb==5.3.1
kafka-python==2.0.2
sqlalchemy[oracle-oracledb,postgresql-psycopgbinary]==2.0.45

# elisa requires this but doesn't list the requirement
# since it is called via subprocess
auth-get-sso-cookie==2.2.0
