Flask>=2.3,<3.0
Flask-Caching>=2.3,<2.4
Flask-HTTPAuth>=4.8,<4.9
Flask-RESTful>=0.3,<0.4
Flask-SQLAlchemy>=3.1,<3.2
click>=8.3,<8.4
gunicorn[gevent]>=23.0,<24.0
influxdb>=5.3,<5.4
kafka-python>=2.3,<2.4
protobuf>=6.33,<7.0
sh>=2.2,<2.3
sqlalchemy[oracle-oracledb,postgresql-psycopgbinary]>=2.0,<2.1

# elisa requires this but doesn't list the requirement
# since it is called via subprocess/sh
auth-get-sso-cookie>=2.2,<2.3
